body {
  background-color: black;
  color: white;
}
.products-section {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 80px;
}
.products-section__loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 4px;
  padding: 25px;
}
.product-item__img-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  max-height: 250px;
}
.product-item__img-slider {
  width: 100%;
  height: 100%;
}
.product-item__img-slider-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
}
.product-item__img-slider-btn:hover {
  transform: translateY(-50%) scale(1.1);
}
.product-item__img-slider-prev {
  left: 10px;
}
.product-item__img-slider-next {
  right: 10px;
}
.product-item__img-slide {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}
.product-item__img-slide_active {
  display: block;
}
.product-item__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-item__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}
.product-item__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-item__price-wrapper {
  display: flex;
  flex-direction: column;
}
.product-item__title {
  font-size: 24px;
  font-weight: bold;
}
.product-item__description-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.product-item__description-button {
  background-color: transparent;
  color: white;
  font-weight: bold;
}
.product-item__description {
  color: #7d7d7d;
}
.product-item__category-wrapper {
  display: flex;
}
.product-item__category {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
}
.product-item__price-wrapper {
  font-size: 15px;
  color: #7d7d7d;
}
.product-item__price {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 7px;
}
.product-item__like-button {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-color: transparent;
  transition: transform 0.3s ease;
}
.product-item__like-button:hover {
  transform: scale(1.1);
}
.products-section__error {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  color: white;
  width: 100%;
}

@media (max-width: 1200px) {
  .products-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 920px) {
  .products-section {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
